# Vendor out non-authored/generated code from language stats
scss/* linguist-vendored
fonts/* linguist-vendored
icons/* linguist-vendored
js/* linguist-vendored
css/* linguist-vendored
css/less* linguist-vendored
Fp_img/* linguist-vendored
images/* linguist-vendored
images2/* linguist-vendored

js/* linguist-vendored
js/custom.js linguist-vendored=false
js/main.js linguist-vendored=false
