# Vendor out non-authored/generated code from language stats
scss/* linguist-vendored
fonts/* linguist-vendored
icons/* linguist-vendored
js/* linguist-vendored
css/* linguist-vendored
Fp_img/* linguist-vendored
images/* linguist-vendored
images2/* linguist-vendored
